body {
    background: #fbfbfb;
    color: #161616;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
}
.renderDOM {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button {
    cursor: pointer;
}


.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 25px 0;
}

.main-info {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.other-info {
    margin: 0px 0 20px 0;
}

#icon1,
#summary {
    margin: auto;
    text-align: center;
}

#temperature {
    font-size: 60px;
    margin: 5px;
}


.visible {
    display: none;
}

.spinner-block {
    position: absolute;
}
.spinner {
  position: relative;
  width: 125px;
  height: 125px;
  z-index: 1;
}

.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

@keyframes scale-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.spinner.spinner-3:before {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0px;
  left: 0px;
  animation: scale-2 1s linear 0s infinite;
}
.spinner.spinner-3:after {
  width: 117px;
  height: 117px;
  border-color: #212121;
  top: 0;
  left: 0;
  opacity: 0;
  animation: scale-2 1s linear 0.5s infinite;
}

.btn {
    cursor: pointer;
}
