body {
    background: #fbfbfb;
    color: #161616;
    font-family: "Roboto", sans-serif;
}
.box {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button {
    cursor: pointer;
}


.details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 25px 0;
}

.main-info {
    display: flex;
    flex-direction: column;
}

.other-info {
    margin: 0px 0 20px 0;
}

#icon1,
#summary {
    margin: auto;
}

#temperature {
    font-size: 60px;
    margin: 0;
}
