body {
    background: #fbfbfb;
    font-family: "Roboto", sans-serif;
}

#images img {
    height: 100px;
    margin: 3px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

#images img:hover {
    box-shadow: 0 6px 6px rgba(0,0,0,0.19);
}

.spinner-block {
    position: absolute;
    visibility: hidden;
}
.spinner {
    position: relative;
    width: 125px;
    height: 125px;
    z-index: 1;
}

.spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
}

@keyframes scale-2 {
      0% {
            transform: scale(0);
            opacity: 0;
      }
      50% {
            transform: scale(0.7);
            opacity: 1;
      }
      100% {
            transform: scale(1);
            opacity: 0;
      }
}
.spinner.spinner-3:before {
    width: 117px;
    height: 117px;
    border-color: #212121;
    top: 0px;
    left: 0px;
    animation: scale-2 1s linear 0s infinite;
}
.spinner.spinner-3:after {
    width: 117px;
    height: 117px;
    border-color: #212121;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1s linear 0.5s infinite;
}

.search-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 70px;
}

.search-elements {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    padding: 25px;
    border-radius: 5px;
}

input[type="text"] {
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #bebebe;
}

.button {
    color: #fff;
    background: #2e5fea;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
